@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body,#app{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.el-breadcrumb{
  margin-bottom: 15px;
}
.el-card.is-always-shadow{
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.el-table,
.zk-table{
  margin-top: 15px;
}

.el-header {
  background-color: #373d41;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
}

.el-aside {
  background-color: #333744;
}
.toggle-btn {
  background-color: #4a5064;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.el-main {
  background-color: #eaedf1;
  min-width: 1200px;
}

.el-menu {
  border-right: 0;
}

.el-submenu__title {
  color: #fff;
}
.el-tag{
  margin: 10px 5px;
}
.el-card{
  height: calc(100vh - 110px);
  overflow: hidden;
  overflow-y: scroll;
}
.el-cascader-menu{
  height: 300px;
}
